 /* 
**GOOD** All paragraphs should be hex color: #555
**GOOD** The header navigation links’ underline should go away on hover
**GOOD** The header navigation links should be hex color: #880808
**GOOD** The line “I should be underlined” should be underlined
**GOOD** Every instance of the word am should be underlined
**GOOD** Every instance of the word there should be italic
**GOOD** The footer navigation links should be vertical (default behavior) 
and the following should be true:
**GOOD** The first list item’s bullet should be removed from the last list
**GOOD Kinda?** The header navigation should be horizontal 
(see how good you are :))
**GOOD Kinda?** The last list item should be bold*/

/* One of my problems which was:
Why did the header connect with the header ul's?
Its because I did float:left; I changed it now. */
header ul li a { 
    list-style-type:none;
    color:#880808
    }
    /* not fixed yet. */
    header ul li {
        list-style-type:none;
        margin-left:30px;
        padding: 14px 16px;
    }
    
    header ul li a:hover {
    text-decoration:none;
    }
    
    p { 
        color: #555;
    }
    
    article p:nth-child(2) {
        text-decoration:underline;
    }
    
    span {
        font-style:italic;
    }
    
    .am {
        text-decoration:underline;
    }
    
    footer ul li:first-child {
         list-style-type:none; 
    }
    
    footer ul li:last-child {
        font-weight:bold;
    }